*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a,
a:visited,
a:link {
    color: #eee;
    text-decoration: none;
}

body {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    background: #16423C;
    scroll-behavior:smooth;
}

.nav {
    width: 100%;
    background: #16423C;
    display: flex;
    justify-content: space-between;
    min-height: 7rem;
    align-items: center;
    color: #eee;
    font-size: 120%;
    padding: 2rem;
    text-transform: uppercase;
}

.nav>i {
    font-size: 200%;
    color: #eee;
    border: 0.5rem solid #C4DAD2;
    border-radius: 50%;
    padding: 1.5rem;
}

.list {
    display: flex;
    list-style: none;
    gap: 4rem;
}

.Cta {
    width: 11rem;
    padding: 1rem;
    font-size: 70%;
    background: #6A9C89;
    border: none;
    color: #eee;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.Cta:hover {
    cursor: pointer;
    background: hsl(158, 23%, 61%);
    transition: 0.2s;
}

.banner {
    height: 80vh;
    position: relative;
}

.banner>figure {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(22, 66, 60, 0.3), 80%, rgba(233, 239, 236, 0.3)), url(../img/motorLandingspage.webp);
    background-position: center;
    background-size: cover;
}

.banner>figure>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    color: #eee;
}

.heading {
    font-family: "Dancing Script", cursive;
    font-size: 400%;
}

.heading2 {
    font-family: "Dancing Script", cursive;
    font-size: 200%;
}

.logo {
    font-size: 200%;
    color: #eee;
    border: 0.5rem solid #C4DAD2;
    border-radius: 50%;
    padding: 1.5rem;
}

.over {
    height: 100%;
    width: 100%;
    padding: 4rem;
    border-bottom: 0.3rem solid #6A9C89;
}

.over>header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.over>header>h2 {
    color: #eee;
    font-family: "Dancing Script", cursive;
    font-size: 300%;
}

.over>div {
    display: flex;
    gap: 4rem;
    justify-content: center;
    height: 100%;
}

.over>div>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.over>div>div>p {
    width: 55ch;
    color: #eee;
}

.over>div>img {
    width: 50rem;
    height: 50rem;
    object-fit: cover;
}

.kenmerken {
    height: 20%;
    border-bottom: 0.3rem solid #6A9C89;
    padding: 4rem;
}

.kenmerken>header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.kenmerken>header>h2 {
    color: #eee;
    font-family: "Dancing Script", cursive;
    font-size: 300%;
}

.onzeKenmerken {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.kenmerk {
    list-style: none;
    color: #eee;
    width: 40%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kenmerk>p {
    width: 30ch;
    text-align: center;
}

.kenmerkIcon {
    font-size: 150%;
    border: 0.2rem solid #C4DAD2;
    padding: 2rem;
    border-radius: 50%;
}

.galerij {
    height: 80vh;
}

.galerij>header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.galerij>header>h2 {
    color: #eee;
    font-family: "Dancing Script", cursive;
    font-size: 300%;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.foto {
    width: 25%;
    height: 40rem;
    position: relative;
}

.foto>section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(22, 66, 60, 0.3), 80%, rgba(233, 239, 236, 0.3));
    transform: scaleX(0);
    transition: 0.8s;
    transform-origin: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto>section>.Cta {
    opacity: 0;
    transition-delay: 0.8s;
    transition-duration: 0.2s;
}

.foto:hover>section>.Cta {
    opacity: 1;
}

.foto:hover>section {
    transform: scaleX(1);
}

.foto>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 75rem) {
    body {
        font-size: 1.6rem;
    }

    .banner {
        height: 60vh;
    }
}

@media (max-width: 50rem) {
    .banner {
        height: 50vh;
    }

    .heading {
        font-size: 250%;
    }

    .heading2 {
        font-size: 150%;
    }

    .over>div>div>p {
        width: 100%;
    }

    .kenmerk {
        width: 100%;
        max-width: 80%;
    }

    .foto {
        width: 100%;
        object-fit: cover;
    }
}