*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a,
a:visited,
a:link {
  color: #eee;
  text-decoration: none;
}

body {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  background: #162e1e;
  scroll-behavior: smooth;
}

.galerij__button, .header__button, .nav__button {
  width: 11rem;
  padding: 1rem;
  font-size: 70%;
  background: #6A9C89;
  border: none;
  color: #eee;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.galerij__button:hover, .header__button:hover, .nav__button:hover {
  cursor: pointer;
  background: rgb(63.8709677419, 96.1290322581, 83.8709677419);
  transition: 0.2s;
}

.galerij__h2, .kenmerken__h2, .over__h2, .header__h2 {
  font-family: "Dancing Script", cursive;
  font-size: 200%;
  color: #eee;
}

.galerij__header, .kenmerken__header, .over__header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.galerij, .kenmerken, .over {
  height: 100%;
  width: 100%;
  padding: 4rem;
  border-bottom: 0.3rem solid #6A9C89;
}

.kenmerken__logo, .header__logo, .nav__logo {
  font-size: 200%;
  color: #eee;
  border: 0.5rem solid #C4DAD2;
  border-radius: 50%;
  padding: 1.5rem;
}

.nav {
  width: 100%;
  background: #16423C;
  display: flex;
  justify-content: space-between;
  min-height: 7rem;
  align-items: center;
  color: #eee;
  font-size: 120%;
  padding: 2rem;
  text-transform: uppercase;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.header {
  height: 80vh;
  position: relative;
}

.header__figure {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(22, 66, 60, 0.3), 80%, rgba(233, 239, 236, 0.3)), url(../img/motorLandingspage.webp);
  background-position: center;
  background-size: cover;
}

.header > figure > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  color: #eee;
}

.header__h1 {
  font-family: "Dancing Script", cursive;
  font-size: 400%;
}

.over__columns {
  display: flex;
  gap: 4rem;
  justify-content: center;
  height: 100%;
}

.over__column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.over__p {
  width: 55ch;
  color: #eee;
}

.over__figure {
  position: relative;
  width: 60rem;
  height: 60rem;
}

.over__img {
  width: 50rem;
  height: 50rem;
  object-fit: cover;
}

.kenmerken__list {
  display: flex;
  flex-wrap: wrap;
  color: #eee;
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.kenmerken__listItem {
  list-style: none;
  color: #eee;
  width: 40%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kenmerken__p {
  width: 30ch;
  text-align: center;
}

.kenmerken__logo {
  font-size: 150%;
}

.galerij {
  padding: 0;
}

.galerij__header {
  padding-bottom: 2rem;
}

.galerij__fotos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.galerij__foto {
  width: 25%;
  height: 40rem;
  position: relative;
}

.galerij__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.galerij__gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(22, 66, 60, 0.3), 80%, rgba(233, 239, 236, 0.3));
  transform: scaleX(0);
  transition: 0.8s;
  transform-origin: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galerij__button {
  opacity: 0;
  transition-delay: 0.8s;
  transition-duration: 0.2s;
}

.galerij__foto:hover .galerij__button {
  opacity: 1;
}

.galerij__foto:hover .galerij__gradient {
  transform: scaleX(1);
}

@media (max-width: 75rem) {
  body {
    font-size: 1.6rem;
  }
  .header {
    height: 60vh;
  }
}
@media (max-width: 50rem) {
  .header {
    height: 50vh;
  }
  .heading {
    font-size: 250%;
  }
  .heading2 {
    font-size: 150%;
  }
  .over__p {
    width: 100%;
  }
  .kenmerken__listItem {
    width: 100%;
    max-width: 80%;
  }
  .galerij__foto {
    width: 100%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
