$Blue: #162e1e;
$green-nav: #16423C;
$fontcolor: #eee;
$border: 0.5rem solid #C4DAD2;
$button: #6A9C89;

$linear-gradient-defeault: linear-gradient(rgba(22, 66, 60, 0.3), 80%, rgba(233, 239, 236, 0.3));
$border-over: 0.3rem solid #6A9C89;
