@use 'colors';
@use 'fonts';
@use 'component';

.header {
    height: 80vh;
    position: relative;
}

.header__figure {
    height: 100%;
    width: 100%;
    background: colors.$linear-gradient-defeault, url(../img/motorLandingspage.webp);
    background-position: center;
    background-size: cover;
}

.header>figure>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    color: colors.$fontcolor;
}

.header__h1 {
    font-family: fonts.$handwriting;
    font-size: 400%;
}

.header__h2 {
    @extend %h2Handwriting
}

.header__logo {
    @extend %icon;
}

.header__button {
    @extend %cta;
}